*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: lightgreen ;
    padding: 10px;
  }
  
  .container > div {
      background-color: aliceblue;

    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .item3{
    grid-column: 3 / span 2;
  }
  .item4{
grid-column: 1 / span 2;
  }
  .item9{
      grid-column: 3 / 5;
  }
  .item10{
 grid-column: 1 / span 2;
 grid-row: 4 / 6;
  }